<center> <h1> <b><span style="color:red"> 
BDB600 final source code<br><br>
Jeff Sit<br><br>
<center> 4/12/2023</span></b></h1>

In [1]:
#Examine data: Use pandas + read.csv to load data and create dataframe
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
path = 'projdata/canhouse-spending.csv'
df = pd.read_csv(path)
df.head()

,Year,Total expenditure,Total current consumption,Food expenditures,Food purchased from stores,Food purchased from restaurants,Shelter,Principal accommodation,Rented living quarters,Owned living quarters,...,Recreational vehicles and associated services,Education,Reading materials and other printed matter,"Tobacco products, alcoholic beverages and cannabis for non-medical use",Tobacco products and alcoholic beverages (Terminated),Games of chance,Miscellaneous expenditures,Income taxes 8,Personal insurance payments and pension contributions,"Gifts of money, support payments and charitable contributions"
0,2010,72075,54013,7850,5709,2141,15020,13586,3088,8259,...,593,1152,201,NaN,1206.0,147,1163,12393,4018,1651
1,2011,73646,55227,7791,5573,2218,15215,13981,3224,8434,...,689,1211,219,NaN,1201.0,168,1609,12545,4210,1664
2,2012,75695,56330,7760,5564,2195,15807,14364,3521,8536,...,706,1410,213,NaN,1244.0,202,1440,13240,4284,1840
3,2013,79098,58576,7934,5718,2216,16361,14891,3234,9278,...,695,1518,183,NaN,1352.0,162,1521,14038,4570,1914
4,2014,80727,59055,8109,5880,2229,17160,15471,3589,9332,...,698,1502,144,NaN,1222.0,156,1608,14867,4871,1934

In [2]:
#Clean dataset: first check for missing values and what under column they fall under
df.isnull().sum()

Year                                                                      0
Total expenditure                                                         0
Total current consumption                                                 0
Food expenditures                                                         0
Food purchased from stores                                                0
Food purchased from restaurants                                           0
Shelter                                                                   0
Principal accommodation                                                   0
Rented living quarters                                                    0
Owned living quarters                                                     0
Water, fuel and electricity for principal accommodation                   0
Other accommodation                                                       0
Household operations                                                      0
Communications                                                            0
Household furnishings and equipment                                       0
Household furnishings                                                     0
Household equipment                                                       0
Household appliances                                                      0
Clothing and accessories                                                  0
Transportation                                                            0
Private transportation                                                    0
Public transportation                                                     0
Health care                                                               0
Direct health care costs to household                                     0
Personal care                                                             0
Recreation                                                                0
Recreational equipment and related services                               0
Home entertainment equipment and services                                 0
Recreational services                                                     0
Recreational vehicles and associated services                             0
Education                                                                 0
Reading materials and other printed matter                                0
Tobacco products, alcoholic beverages and cannabis for non-medical use    8
Tobacco products and alcoholic beverages (Terminated)                     1
Games of chance                                                           0
Miscellaneous expenditures                                                0
Income taxes 8                                                            0
Personal insurance payments and pension contributions                     0
Gifts of money, support payments and charitable contributions             0
dtype: int64

There is missing data in the tobacco categories due to how before 2019, the category was slightly more narrow in scope, only factoring tobacco and alcohol. This category would eventually be succeeded by the tobacco, alcohol, and non-medicinal cannabis category. To streamline this data preprocessing stage, the results for these 2 separate categories will be merged into a single column.

In [3]:
#Clean dataset: replace missing data with median from same data
df['Tobacco products, alcoholic beverages (and cannabis for non-medical use in 2019)'] = df['Tobacco products and alcoholic beverages (Terminated)']
df['Tobacco products, alcoholic beverages (and cannabis for non-medical use in 2019)'].fillna(1785, inplace=True)
df = df.drop(['Tobacco products and alcoholic beverages (Terminated)', 'Tobacco products, alcoholic beverages and cannabis for non-medical use'], axis=1)
df.head(10)

,Year,Total expenditure,Total current consumption,Food expenditures,Food purchased from stores,Food purchased from restaurants,Shelter,Principal accommodation,Rented living quarters,Owned living quarters,...,Recreational services,Recreational vehicles and associated services,Education,Reading materials and other printed matter,Games of chance,Miscellaneous expenditures,Income taxes 8,Personal insurance payments and pension contributions,"Gifts of money, support payments and charitable contributions","Tobacco products, alcoholic beverages (and cannabis for non-medical use in 2019)"
0,2010,72075,54013,7850,5709,2141,15020,13586,3088,8259,...,1600,593,1152,201,147,1163,12393,4018,1651,1206.0
1,2011,73646,55227,7791,5573,2218,15215,13981,3224,8434,...,1761,689,1211,219,168,1609,12545,4210,1664,1201.0
2,2012,75695,56330,7760,5564,2195,15807,14364,3521,8536,...,1848,706,1410,213,202,1440,13240,4284,1840,1244.0
3,2013,79098,58576,7934,5718,2216,16361,14891,3234,9278,...,1956,695,1518,183,162,1521,14038,4570,1914,1352.0
4,2014,80727,59055,8109,5880,2229,17160,15471,3589,9332,...,2064,698,1502,144,156,1608,14867,4871,1934,1222.0
5,2015,82697,60516,8629,6126,2502,17509,15802,3790,9534,...,2148,618,1540,168,180,1703,15334,4880,1967,1336.0
6,2016,84489,62183,8784,6176,2608,18032,16293,3868,9965,...,2132,689,1688,156,217,1794,15310,5067,1929,1406.0
7,2017,86479,63944,8968,6364,2604,18640,16811,4038,10287,...,2184,613,1783,154,183,1865,15144,5184,2207,1463.0
8,2019,93724,68980,10311,7536,2775,20200,18371,4160,11676,...,2593,826,1691,165,186,1838,17167,5297,2280,1785.0

In [4]:
path2 = 'projdata/canhouse-industryincome.csv'
df2 = pd.read_csv(path2)
df2.head(21)

,Year,Industrial aggregate excluding unclassified businesses,Goods producing industries,"Forestry, logging and support","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Service producing industries,Trade,...,Real estate and rental and leasing,"Professional, scientific and technical services",Management of companies and enterprises,"Administrative and support, waste management and remediation services",Educational services,Health care and social assistance,"Arts, entertainment and recreation",Accommodation and food services,Other services (except public administration),Public administration
0,2001,637.60,777.31,777.94,"1,056.77","1,058.07",751.14,750.07,597.55,513.58,...,NaN,879.14,854.62,506.89,682.97,558.14,424.46,263.74,500.96,772.38
1,2002,653.13,794.23,772.24,"1,018.13","1,134.96",779.83,764.17,613.76,513.52,...,603.05,901.88,937.19,530.65,698.76,568.11,417.20,276.84,514.32,835.76
2,2003,670.04,815.64,788.92,"1,067.96","1,169.25",806.35,779.80,630.14,527.38,...,637.97,916.02,913.63,523.07,725.10,598.64,427.28,272.43,534.73,856.21
3,2004,687.21,835.92,834.15,"1,168.60","1,175.04",793.14,802.53,647.00,537.63,...,640.55,928.92,"1,006.85",535.99,748.63,625.61,433.66,280.31,563.33,880.7
4,2005,715.74,869.12,833.70,"1,170.17","1,196.93",823.45,840.12,675.02,557.89,...,684.04,982.83,991.7,568.59,777.42,654.93,436.45,285.15,595.26,910.93
5,2006,731.86,880.23,850.07,"1,175.60","1,238.00",835.27,847.10,693.16,574.40,...,696.84,"1,008.51","1,025.61",588.07,805.90,673.69,440.79,294.77,608.75,932.68
6,2007,763.87,930.62,854.05,"1,267.06","1,295.83",910.56,880.68,721.58,587.91,...,745.54,"1,050.29","1,070.55",631.96,832.11,692.31,463.83,314.13,634.79,983.47
7,2008,787.15,965.19,885.79,"1,375.75","1,327.42",946.45,901.24,743.68,601.77,...,756.17,"1,084.50","1,060.30",657.50,860.07,728.08,497.65,326.69,658.09,"1,015.06"
8,2009,803.91,977.36,811.09,"1,473.68","1,383.28",990.51,882.12,765.04,618.59,...,756.07,"1,123.74","1,126.84",654.93,874.98,757.91,509.16,332.07,679.01,"1,034.92"
9,2010,831.62,1010.75,900.39,1548.97,1483.63,994.17,917.25,791.42,638.72,...,808.27,1166.24,1180.33,692.42,931.76,774.53,548.70,349.85,690.05,1069.21
10,2011,850.39,1034.97,924.83,1575.35,1525.83,1016.11,933.71,808.28,655.36,...,819.57,1191.21,1177.28,716.84,952.50,794.71,546.38,353.92,700.05,1089.55
11,2012,869.77,1066.92,936.54,1650.1,1515.56,1057.16,954.37,824.39,667.43,...,844.74,1222.09,1205.09,712.09,980.41,801.52,538.31,364.09,717.84,1122.09
12,2013,884.91,1095.52,983.64,1676.53,1549.28,1098.54,973.17,836.63,674.49,...,847.46,1254.06,1220.58,725.24,985.69,819.09,555.79,358.33,737.17,1140.91
13,2014,909.09,1138.63,977.17,1862.27,1651.63,1129.27,996.29,856.81,693.40,...,911.68,1286.77,1308.75,726.43,980.91,839.95,575.57,366.75,743.14,1169.25
14,2015,928.21,1152.92,1038.29,1842.33,1633.05,1139.54,1030.37,877.82,715.82,...,924.65,1318.26,1389.05,752.83,1003.49,854.90,566.32,370.59,757.97,1194.19
15,2016,934.66,1162.14,1049.77,1912.19,1648.04,1143.28,1042.65,885.16,720.53,...,958.34,1300.56,1422.75,764.43,1014.93,851.84,582.10,366.97,775.18,1202.88
16,2017,951.75,1162.35,1052.17,1835.34,1735.01,1146.13,1041.30,905.65,734.64,...,967.20,1333.05,1628.1,776.21,1036.28,872.58,587.68,379.20,791.34,1231.34
17,2018,975.86,1177.97,1099.64,1873.46,1764.42,1178.74,1041.21,931.38,774.91,...,1019.38,1367.32,1660.17,775.56,1046.19,890.21,594.01,400.52,815.79,1271.42
18,2019,1002.59,1216.43,1128.88,1981.26,1763.68,1204.91,1085.02,955.92,783.01,...,1028.15,1422.63,1544.66,824.62,1067.41,913.49,612.93,415.40,839.14,1298.33
19,2020,1068.91,1241.63,1135.12,1935.17,1791.33,1247.71,1104.54,1030.89,820.80,...,1109.15,1464.34,1525.54,866.96,NaN,972.65,694.65,432.36,904.35,1379.85
20,2021,1101.17,1282.34,1178.50,2007.77,1805.67,1309.69,1130.99,1061.12,838.78,...,1161.08,1515.92,1485.82,932.60,NaN,976.46,717.91,453.15,949.12,1418.95

In [5]:
df2.isnull().sum()

Year                                                                     0
Industrial aggregate excluding unclassified businesses                   0
Goods producing industries                                               0
Forestry, logging and support                                            0
Mining, quarrying, and oil and gas extraction                            0
Utilities                                                                0
Construction                                                             0
Manufacturing                                                            0
Service producing industries                                             0
Trade                                                                    0
Transportation and warehousing                                           0
Information and cultural industries                                      0
Finance and insurance                                                    1
Real estate and rental and leasing                                       1
Professional, scientific and technical services                          0
Management of companies and enterprises                                  0
Administrative and support, waste management and remediation services    0
Educational services                                                     2
Health care and social assistance                                        0
Arts, entertainment and recreation                                       0
Accommodation and food services                                          0
Other services (except public administration)                            0
Public administration                                                    0
dtype: int64

There is missing data in a few categories here. However, the missing data is found in years that are outside the scope of the comparison outlined for this project. Therefore, these rows can be dropped.

In [6]:
df2 = df2.drop(labels=range(0,9), axis=0)
df2 = df2.drop(labels=[19,20], axis=0)

In [7]:
df2.isnull().sum()

Year                                                                     0
Industrial aggregate excluding unclassified businesses                   0
Goods producing industries                                               0
Forestry, logging and support                                            0
Mining, quarrying, and oil and gas extraction                            0
Utilities                                                                0
Construction                                                             0
Manufacturing                                                            0
Service producing industries                                             0
Trade                                                                    0
Transportation and warehousing                                           0
Information and cultural industries                                      0
Finance and insurance                                                    0
Real estate and rental and leasing                                       0
Professional, scientific and technical services                          0
Management of companies and enterprises                                  0
Administrative and support, waste management and remediation services    0
Educational services                                                     0
Health care and social assistance                                        0
Arts, entertainment and recreation                                       0
Accommodation and food services                                          0
Other services (except public administration)                            0
Public administration                                                    0
dtype: int64

In [8]:
df2.head(10)

,Year,Industrial aggregate excluding unclassified businesses,Goods producing industries,"Forestry, logging and support","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Service producing industries,Trade,...,Real estate and rental and leasing,"Professional, scientific and technical services",Management of companies and enterprises,"Administrative and support, waste management and remediation services",Educational services,Health care and social assistance,"Arts, entertainment and recreation",Accommodation and food services,Other services (except public administration),Public administration
9,2010,831.62,1010.75,900.39,1548.97,1483.63,994.17,917.25,791.42,638.72,...,808.27,1166.24,1180.33,692.42,931.76,774.53,548.70,349.85,690.05,1069.21
10,2011,850.39,1034.97,924.83,1575.35,1525.83,1016.11,933.71,808.28,655.36,...,819.57,1191.21,1177.28,716.84,952.50,794.71,546.38,353.92,700.05,1089.55
11,2012,869.77,1066.92,936.54,1650.1,1515.56,1057.16,954.37,824.39,667.43,...,844.74,1222.09,1205.09,712.09,980.41,801.52,538.31,364.09,717.84,1122.09
12,2013,884.91,1095.52,983.64,1676.53,1549.28,1098.54,973.17,836.63,674.49,...,847.46,1254.06,1220.58,725.24,985.69,819.09,555.79,358.33,737.17,1140.91
13,2014,909.09,1138.63,977.17,1862.27,1651.63,1129.27,996.29,856.81,693.40,...,911.68,1286.77,1308.75,726.43,980.91,839.95,575.57,366.75,743.14,1169.25
14,2015,928.21,1152.92,1038.29,1842.33,1633.05,1139.54,1030.37,877.82,715.82,...,924.65,1318.26,1389.05,752.83,1003.49,854.90,566.32,370.59,757.97,1194.19
15,2016,934.66,1162.14,1049.77,1912.19,1648.04,1143.28,1042.65,885.16,720.53,...,958.34,1300.56,1422.75,764.43,1014.93,851.84,582.10,366.97,775.18,1202.88
16,2017,951.75,1162.35,1052.17,1835.34,1735.01,1146.13,1041.30,905.65,734.64,...,967.20,1333.05,1628.1,776.21,1036.28,872.58,587.68,379.20,791.34,1231.34
17,2018,975.86,1177.97,1099.64,1873.46,1764.42,1178.74,1041.21,931.38,774.91,...,1019.38,1367.32,1660.17,775.56,1046.19,890.21,594.01,400.52,815.79,1271.42
18,2019,1002.59,1216.43,1128.88,1981.26,1763.68,1204.91,1085.02,955.92,783.01,...,1028.15,1422.63,1544.66,824.62,1067.41,913.49,612.93,415.40,839.14,1298.33

In [9]:
df2.dtypes

Year                                                                       int64
Industrial aggregate excluding unclassified businesses                   float64
Goods producing industries                                               float64
Forestry, logging and support                                            float64
Mining, quarrying, and oil and gas extraction                             object
Utilities                                                                 object
Construction                                                             float64
Manufacturing                                                            float64
Service producing industries                                             float64
Trade                                                                    float64
Transportation and warehousing                                           float64
Information and cultural industries                                       object
Finance and insurance                                                     object
Real estate and rental and leasing                                       float64
Professional, scientific and technical services                           object
Management of companies and enterprises                                   object
Administrative and support, waste management and remediation services    float64
Educational services                                                     float64
Health care and social assistance                                        float64
Arts, entertainment and recreation                                       float64
Accommodation and food services                                          float64
Other services (except public administration)                            float64
Public administration                                                     object
dtype: object

In [10]:
df2.min()

Year                                                                        2010
Industrial aggregate excluding unclassified businesses                    831.62
Goods producing industries                                               1010.75
Forestry, logging and support                                             900.39
Mining, quarrying, and oil and gas extraction                            1548.97
Utilities                                                                1483.63
Construction                                                              994.17
Manufacturing                                                             917.25
Service producing industries                                              791.42
Trade                                                                     638.72
Transportation and warehousing                                            849.79
Information and cultural industries                                      1043.65
Finance and insurance                                                    1044.53
Real estate and rental and leasing                                        808.27
Professional, scientific and technical services                          1166.24
Management of companies and enterprises                                  1177.28
Administrative and support, waste management and remediation services     692.42
Educational services                                                      931.76
Health care and social assistance                                         774.53
Arts, entertainment and recreation                                        538.31
Accommodation and food services                                           349.85
Other services (except public administration)                             690.05
Public administration                                                    1069.21
dtype: object

In [11]:
df2["Mining, quarrying, and oil and gas extraction"] = pd.to_numeric(df2["Mining, quarrying, and oil and gas extraction"])
df2["Utilities"] = pd.to_numeric(df2["Utilities"])
df2["Information and cultural industries"] = pd.to_numeric(df2["Information and cultural industries"])
df2["Finance and insurance"] = pd.to_numeric(df2["Finance and insurance"])
df2["Professional, scientific and technical services"] = pd.to_numeric(df2["Professional, scientific and technical services"])
df2["Management of companies and enterprises"] = pd.to_numeric(df2["Management of companies and enterprises"])
df2["Public administration"] = pd.to_numeric(df2["Public administration"])

In [12]:
df2['produce3xfoodval'] = df2['Accommodation and food services']*3

In [13]:
df2['produce3xfood'] = df2['Goods producing industries'] >= df2['produce3xfoodval']
df2['produce3xfood'].head(10)

9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18    False
Name: produce3xfood, dtype: bool

In [14]:
df2['miningsum3val'] = df2['Accommodation and food services'] + df2['Arts, entertainment and recreation'] + df2['Administrative and support, waste management and remediation services']

In [15]:
df2['miningsum3'] = df2['Mining, quarrying, and oil and gas extraction'] >= df2['Accommodation and food services'] + df2['Arts, entertainment and recreation'] + df2['Administrative and support, waste management and remediation services']
df2['miningsum3'].head(10)

9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
Name: miningsum3, dtype: bool

In [16]:
df2['mostsimilar2val'] = df2['Finance and insurance'] - df2['Information and cultural industries']

In [17]:
df2['mostsimilar2'] = df2['Finance and insurance'] >= df2['Information and cultural industries']
df2['mostsimilar2'].head(10)

9      True
10     True
11    False
12    False
13     True
14     True
15    False
16     True
17     True
18     True
Name: mostsimilar2, dtype: bool

In [18]:
df2.head(10)

,Year,Industrial aggregate excluding unclassified businesses,Goods producing industries,"Forestry, logging and support","Mining, quarrying, and oil and gas extraction",Utilities,Construction,Manufacturing,Service producing industries,Trade,...,"Arts, entertainment and recreation",Accommodation and food services,Other services (except public administration),Public administration,produce3xfoodval,produce3xfood,miningsum3val,miningsum3,mostsimilar2val,mostsimilar2
9,2010,831.62,1010.75,900.39,1548.97,1483.63,994.17,917.25,791.42,638.72,...,548.70,349.85,690.05,1069.21,1049.55,False,1590.97,False,0.88,True
10,2011,850.39,1034.97,924.83,1575.35,1525.83,1016.11,933.71,808.28,655.36,...,546.38,353.92,700.05,1089.55,1061.76,False,1617.14,False,7.70,True
11,2012,869.77,1066.92,936.54,1650.10,1515.56,1057.16,954.37,824.39,667.43,...,538.31,364.09,717.84,1122.09,1092.27,False,1614.49,True,-20.12,False
12,2013,884.91,1095.52,983.64,1676.53,1549.28,1098.54,973.17,836.63,674.49,...,555.79,358.33,737.17,1140.91,1074.99,True,1639.36,True,-11.09,False
13,2014,909.09,1138.63,977.17,1862.27,1651.63,1129.27,996.29,856.81,693.40,...,575.57,366.75,743.14,1169.25,1100.25,True,1668.75,True,12.75,True
14,2015,928.21,1152.92,1038.29,1842.33,1633.05,1139.54,1030.37,877.82,715.82,...,566.32,370.59,757.97,1194.19,1111.77,True,1689.74,True,10.64,True
15,2016,934.66,1162.14,1049.77,1912.19,1648.04,1143.28,1042.65,885.16,720.53,...,582.10,366.97,775.18,1202.88,1100.91,True,1713.50,True,-26.77,False
16,2017,951.75,1162.35,1052.17,1835.34,1735.01,1146.13,1041.30,905.65,734.64,...,587.68,379.20,791.34,1231.34,1137.60,True,1743.09,True,47.61,True
17,2018,975.86,1177.97,1099.64,1873.46,1764.42,1178.74,1041.21,931.38,774.91,...,594.01,400.52,815.79,1271.42,1201.56,False,1770.09,True,77.86,True
18,2019,1002.59,1216.43,1128.88,1981.26,1763.68,1204.91,1085.02,955.92,783.01,...,612.93,415.40,839.14,1298.33,1246.20,False,1852.95,True,59.47,True

In [19]:
df2.to_excel("incomecompared.xlsx")